<script setup>
  import { ref, watch, computed } from "vue";

  const greeting = ref("hello");

  function changeGreeting(status) {
    greeting.value = status;
  }

  const message = ref("Welcome user");
  const color = ref("green");

  const msgCompute = computed(() => {
    switch (greeting.value) {
      case "hello":
        return "Welcome user";
      case "die":
        return "Rest in peace";
      default:
        return "See you later";
    }
  });

  watch(greeting, (value) => {
    switch (value) {
      case "hello":
        color.value = "green";
        message.value = "Welcome user";
        break;
      case "die":
        color.value = "red";
        message.value = "Rest in peace";
        break;
      default:
        color.value = "blue";
        message.value = "See you later";
        break;
    }
  });
</script>

<template>
  <div>
    <h1>About</h1>

    <div v-if="greeting === 'hello'">Welcome user</div>
    <div v-else-if="greeting === 'die'">Rest in peace</div>
    <div v-else>See you later</div>

    <div>color: {{ color }}</div>
    <div>message: {{ message }}</div>

    <div>message computed: {{ msgCompute }}</div>

    <button @click="changeGreeting('hello')">Hello</button>
    <button @click="changeGreeting('die')">Die</button>
    <button @click="changeGreeting('bye')">Good bye</button>
  </div>
</template>
