<script setup>
  import { ref, reactive } from "vue";

  const count = ref(0);

  function increment() {
    count.value++;
  }

  const user = ref({ firstName: "", lastName: "" });
</script>

<template>
  <div>
    <h1>This is activity path</h1>
    <div>count {{ count }}</div>
    <button @click="increment">+</button>

    name = {{ user }}

    <input v-model="user.firstName" type="text" placeholder="First name" />
    <input v-model="user.lastName" type="text" placeholder="Last name" />
  </div>
</template>
