<script setup>
  import { ref } from "vue";
  const status = ["open", "closed", "soon"];

  function bindButton(status) {
    switch (status) {
      case "open":
        return { color: "success" };
      case "closed":
        return { color: "error", disabled: false };
      case "soon":
        return { color: "warning", disabled: false };
      default:
        return { color: "grey", disabled: true };
    }
  }

  const title = "HLLC";

  const banner = "/activity.png";

  const activity = ref({});

  const dialog = ref(false);

  function onButtonClick(ac) {
    activity.value = ac;
    dialog.value = true;
  }

  const activities = ref(
    Array(12)
      .fill({})
      .map((_, i) => ({
        name: `Activity${i + 1}`,
        details:
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos maxime officia dolore et voluptatem doloribus aperiam! Atque temporibus veritatis corrupti quidem, doloremque possimus repellat error? Tempora perferendis repudiandae impedit saepe?",
        location: "MFU",
        banner: "/activity.png",
        status: status[Math.floor(Math.random() * status.length)],
        dates: [new Date(), new Date()],
      }))
  );

  function getTime(date) {
    return date.toLocaleString("en");
  }
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-img
          :src="banner"
          cover
          :aspect-ratio="20 / 9"
          content-class="d-flex align-center justify-center"
        >
          <h1 class="text-h1 text-center linear-wipe">{{ title }}</h1>
        </v-img>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col cols="6" sm="4" md="3" lg="2" v-for="activity in activities">
        <v-card rounded="lg" @click="onButtonClick(activity)">
          <v-card-title> {{ activity.name }} </v-card-title>
          <v-card-subtitle class="text-span mb-2">
            <v-icon icon="mdi-map-marker" left size="x-small"> </v-icon>
            {{ activity.location }}
          </v-card-subtitle>
          <v-img :src="activity.banner" :aspect-ratio="16 / 9" cover></v-img>
          <v-card-text>
            <p class="details">
              {{ activity.details }}
            </p>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              rounded="lg"
              variant="flat"
              size="small"
              v-bind="bindButton(activity.status)"
              @click="onButtonClick(activity)"
            >
              {{ activity.status }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" width="17rem" content-class="rouned-lg">
        <v-card rounded="lg" width="17rem">
          <v-card-title>
            <div class="d-flex align-center justify-space-between w-100">
              <div class="d-flex justify-center flex-grow-1 mr-n4">
                <span class="text-title">
                  {{ activity.name }}
                </span>
              </div>

              <v-avatar size="x-small" color="black" elevation="0"  @click="dialog = false">
                <v-icon icon="mdi-close" size="small" class="ma-2"></v-icon>
              </v-avatar>
            </div>
          </v-card-title>
          <v-img :src="activity.banner" :aspectRatio="16 / 9" cover></v-img>
          <v-card-text>
            <div class="text-subtitle">
              <v-icon icon="mdi-map-marker" size="small" class="mr-2"> </v-icon>
              <span> {{ activity.location }} </span>
            </div>
            <div class="text-subtitle" v-if="activity.status === 'open'">
              <div>
                <v-icon icon="mdi-alarm" size="small" class="mr-2"> </v-icon>
                <b>Start: </b>
                <span>
                  {{ getTime(activity.dates[0]) }}
                </span>
              </div>
              <div>
                <v-icon icon="mdi-alarm" size="small" class="mr-2"> </v-icon>
                <b>End: </b>
                <span>
                  {{ getTime(activity.dates[1]) }}
                </span>
              </div>
            </div>
            <div class="text-subtitle" v-else-if="activity.status === 'soon'">
              <v-icon icon="mdi-alarm" size="small" class="mr-2"> </v-icon>
              <b>Sooner: </b>
              <span>
                {{ getTime(activity.dates[0]) }}
              </span>
            </div>
            <div class="text-subtitle" v-else>
              <v-icon icon="mdi-alarm" size="small" class="mr-2"> </v-icon>
              <b>Closed at: </b>
              <span>
                {{ getTime(activity.dates[1]) }}
              </span>
            </div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              variant="text"
              rounded="lg"
              v-bind="bindButton(activity.status)"
            >
              {{ activity.status }}
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
    </v-dialog>
  </v-container>
</template>

<style scoped>
  .details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: 3;
  }

  .linear-wipe {
    text-align: center;

    background: linear-gradient(
      to right,
      #fff 20%,
      #ff0 40%,
      #ff0 60%,
      #fff 80%
    );
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    override-colors: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 2s linear infinite;
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
</style>
