<script setup>
  import { ref } from "vue";
  const items = ref([
    { user: "Foo", age: 10 },
    { user: "Bar", age: 50 },
  ]);
</script>

<template>
  <div>
    <h1>This is profile</h1>

    <li v-for="item, index in items" :key="index">
      {{ item.user }}, <b> {{ item.age }} </b>
    </li>
  </div>
</template>
