<script setup>
  import Card from "@/components/Card.vue";

  function onWow(name, status) {
    console.log(name, status);
  }
</script>

<template>
  <div style="padding: 10px">
    <card name="John" status="doe" @wow="onWow">
      Hello world!
      <template #action="{ on: actions, props }">
        <button v-on="actions" v-bind="props"> new </button>
      </template>
    </card>
    <card name="FFF" status></card>
    <card name="dfsdfjhsdklf" :status="10"></card>
  </div>
</template>

<style scoped></style>
