<script setup lang="ts">
  const name = ref("name");

  definePageMeta({
    layout: "user",
  });
</script>

<template>
  <v-container fluid>
    <div>Username: {{ name }}</div>
    <!-- <card name="age"></card> -->
    <v-row dense>
      <v-col cols="12" md="6">
        <my-card max-width="" rounded="xl"></my-card>
      </v-col>
      <v-col cols="6" md="3">
        <my-card max-width="" rounded="xl"></my-card>
      </v-col>
      <v-col cols="6" md="3">
        <my-card max-width="" rounded="xl"></my-card>
      </v-col>
      <v-col v-for="i in 6" cols="4" md="2">
        <my-card max-width="" rounded="xl"></my-card>
      </v-col>
    </v-row>
  </v-container>
</template>
