<template>
  <v-layout>
    <v-app-bar color="primary">
      <v-app-bar-title>Application Bar</v-app-bar-title>
    </v-app-bar>

    <v-main>
      <slot></slot>
    </v-main>
  </v-layout>
</template>
