<script setup lang="ts">
  const route = useRoute();

  const id = route.params.id;

  definePageMeta({
    layout: "user",
  });

  const items = [
    {
      name: "African Elephant",
      species: "Loxodonta africana",
      diet: "Herbivore",
      habitat: "Savanna, Forests",
      nested: {
        name: "Hello",
      },
    },
    {
      name: "African Elephant",
      species: "Loxodonta africana",
      diet: "Herbivore",
      habitat: "Savanna, Forests",
      nested: {
        name: "Hello",
      },
    },
    {
      name: "African Elephant",
      species: "Loxodonta africana",
      diet: "Herbivore",
      habitat: "Savanna, Forests",
      nested: {
        name: "Hello",
      },
    },
  ];

  const headers = [{ value: "nested.name", title: "This is name" }];
</script>

<template>
  <v-container fluid>
    <h1>{{ id }}</h1>
    <v-data-table :items="items" :headers="headers">
      <template #[`item.nested.name`]="{ item }">
        This is name = {{ item.name }}
      </template>
    </v-data-table>
  </v-container>
</template>
