<script setup lang="ts">
  const name = ref("name");

  const router = useRouter();

  definePageMeta({
    layout: "user",
  });

  function openCard(id: number) {
    router.push("/activities/" + id);
  }
</script>

<template>
  <v-container fluid>
    <div>Username: {{ name }}</div>
    <!-- <card name="age"></card> -->
    <v-row dense>
      <v-col v-for="i in 6" cols="4" md="2">
        <my-card max-width="" rounded="xl" @click="openCard(i)"></my-card>
      </v-col>
    </v-row>
  </v-container>
</template>
