.container {
  padding: 12px;
}

.d-flex {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.item {
  border: 1px solid goldenrod;
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.item-title {
  font-weight: bold;
  font-size: larger;
  margin-right: 10px;
  flex: 2;
}

.item-content {
  font-size: small;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  flex: 10;
}

@media (min-width: 425px) {
  .d-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .item {
    display: inline;
  }

  .item-title {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .d-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media (min-width: 1024px) {
  .d-flex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}