h1 {
  color: red
}

h2 {
  color: orange;
}

h2#custom {
  color: brown;
  font-size: 18px;
}

h2.blue {
  color: blue;
  font-size: 20px;
}

.my-el {
  border: 1px solid #00000020;
  border-radius: 0.8rem;
  background-color: #fff;
  background-clip: border-box;
  padding: 10px 20px 100px 30px;
  color: pink;
  margin: 12px 0;
}

.my-el .button-9 {
  background-color: bisque;
  color: black;
}

.button-9.primary {
  background-color: coral;
  color: black;
}

.button-9.secondary {
  background-color: yellowgreen;
  color: black;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}